body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: Arial, sans-serif;
}

.card {
    border: none;
    border-radius: 20px;
}

h2 {
    font-weight: bold;
}

.btn-primary {
    background-color: #ff7e5f;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #db5436;
}

body {
    font-family: 'Poppins', sans-serif;

}
h2 {
    font-weight: 600;
    letter-spacing: 0.5px;
}
.form-control:focus {
    border-color: #ff7e5f;
    box-shadow: 0 0 0 0.2rem rgba(255, 126, 95, 0.25);
}
.btn-primary {
    transition: 0.3s;
}

.btn-primary:hover {
    transform: scale(1.03);
}
.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-4px);
}